<!DOCTYPE html>
{% load static %}
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

<title>SingUp Page</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}" >

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
         
    {% load static %} <script src="{% static 'css/signup.js' %}" ></script>
      
    </head>
    <body id="bg" style="background-image: url('{% static 'css/dj_images/images/loginback.jpg' %}');">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
         <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        {% endfor %}

        <br>
        <h2>Signup Form</h2>

        
        <form name="f1" method="post" action="/signup">
          {% csrf_token %}
          <div class="container">
               <label for="username"><b>Username</b></label>
               <input type="text"  id="username" name="username" placeholder="Create A Username " Required>
          
               <label for="fname"><b>Name</b></label>
               <input type="text"  id="fname" name="fname" placeholder="Enter Your Name" Required>
          
               <label for="email"><b>Email</b></label>
               <input type="email"  id="email" name="email" placeholder="Enter Your Email Address" Required>
           
               <label for="pass1"><b>Password</b></label>
               <input type="password"  id="pass1" name="pass1" placeholder="Create Your Password" Required>
          
               <label for="pass2"><b>Confirm Password</b></label>
               <input type="password"  id="pass2" name="pass2" placeholder="Confirm Your Password" Required>
           
        
           <button type="submit" class="btn btn-primary">Sign Up</button>

           <div class="container" style="background-color:#fdfdfd">

            <span class="change">Already have an account? <a href="/signin">Login</a></span>
            <br><br>
          </div>

          

          
       </form>
        
        </body>
        </html>



